<h1> Login </h1>
<%= form_tag '/login',class: "login", method: "post" do %>
<table id="tbl-login">
  <tr>
    <td id="">Email:</td>
    <td><%= text_field_tag :email %></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><%= password_field_tag :password, '', :class=>"txt-password"%></td>
  </tr>
  <tr>
    <td><%= submit_tag "Submit" %></td>
    <td><br /></td>
  </tr>
</table>
<% end %>
