.thumbnail {
    width: 90px;
    height: 70px;
    border-radius: 50%;
}
#leagu, #team, #season, #fixtures, #arsenal, #leicester, #tottenham, #man-city, #players-leicester, #players-arsenal, #players-tottenham, #players-city {
    width: 180px;
    font-size: 14px;
    padding: 3px 4px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#xx {
  visibility: hidden;
}
.nav-top {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    margin: 15px auto;
}
.top-four {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    margin: 15px auto;
}
.alert {
    color: red;
}
h1 {
    text-align: center;
}
input[type=submit] {
    width: 180px;
    font-size: 14px;
    padding: 3px 4px;
    background: rgb(150, 159, 163);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
    border-color: #2cc6ee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.btn-signup {
    text-decoration: none;
    font-size: 16px;
}

/*apply this style for all a elements except the one with a class name of .btn-signup*/
a:not(.btn-signup) {
    width: 180px;
    font-size: 14px;
    padding: 3px 4px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 3px 0 3px 8px;
    display: table-cell;
    height: 15px;
}
.divTable {
    left: 45%;
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}
.divRow {
    display: table-row;
    width: auto;
}
.divCell {
    float: left;
    display: table-column;
    width: 200px;
    background-color: #ccc;
}
#header {
    background-color: rgb(150, 159, 163);
    color: white;
    text-align: center;
    padding: 5px;
}
#nav {
    line-height: 30px;
    background-color: rgba(#0656f1, 0.35);
    height: 400px;
    width: 350px;
    float: left;
    padding: 5px;
}
html, body
{
  height: 100%;
}
body {
    background-image: url("http://blogs.bmj.com/bjsm/files/2014/08/football-on-the-stadium-4565.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section {
    width: 350px;
    float: left;
    padding: 10px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
table {
    display: block;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 730px;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
  display: block;
  height: 400px;
  overflow: auto;
  width: 100%;
}

td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}
th {
    background: #DFDFDF;
    font-weight: bold;
}
td {
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}
tr:nth-child(odd) td {
    background: #FEFEFE;
}
tr td:hover {
    background: #666;
    color: #FFF;
}
